<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Angular</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="script.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
	</head>

	<body ng-app="projectList" ng-controller="projectController">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="bg-primary text-center header">
            ANGULAR PROJECT DASHBOARD
            <br/>
            Tho Nguyen
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <input type="text" ng-model="searchString" class="form-control" placeholder="Enter your search projects" />
        </div>
        <div class="card-body">
          <div class="bar bg-primary">
            <a href="#" class="list-icon" ng-class="{active: layout == 'list'}" ng-click="layout = 'list'"></a>
            <a href="#" class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"></a>
          </div>

          <ul class="{{layout}}">
            <li class="list-group-item" ng-repeat="project in projects | searchFor:searchString">
              <p class="projectName">{{project.name}}</p>
              <p class="projectDescription">{{project.description}}</p>
              <span class="removeProject" ng-click="removeProject($index)">X</span>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <h4>Add new project</h4>
          <p class="text-danger">{{errortext}}</p>
          <input ng-model="name" class="form-control" placeholder="Name" />
          <textarea rows="4" cols="50" ng-model="description" class="form-control" placeholder="Description"></textarea>
          <button class="btn btn-primary" ng-click="addProject()">Add</button>
        </div>
      </div>
    </div>
  </body>  
</html>
